node_modules
.turbo
.pnpm-store

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
build
coverage
.next
.cache

*.log
*.pid

apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

infra/backups/*.sql
infra/backups/*.dump

.DS_Store
Thumbs.db
